.site-header{
		color: #ffffff;
		font-family : monospace ;
		display : flex;
		flex-direction: column;
		justify-content: center;
		align-items : center;
		
}

.image-style{
	border-radius: 50%;
	width:150px;
	height: 150px;
	align-self: center;
}

body{
	margin: auto;
}

.site-header-content{
	margin: 10px;
}

.college-link{
		color: #ffffff;		
}
h3
{
	font-family: 'Pacifico', cursive;
}
