.site-header{
		color: #ffffff;
		font-family: 'Stylish', sans-serif; 
		display : flex;
		flex-direction: column;
		justify-content: center;
		align-items : center;
		
}

.image-style{
	border-radius: 50%;
	width:150px;
	height: 150px;
	align-self: center;
	box-shadow:0px 10px 11px 1px #000000;
}

body{
	background:  linear-gradient(35deg, #00537E, #3AA17E);
	margin: auto;
}

.site-header-content{
	margin-top: 10px;
	margin-bottom: 10px;
}

.college-link{
		color: #ffffff;		
}
h3
{
	font-family: 'Stylish', sans-serif;
}
.site-banner{
	margin-top:20px;
	padding-top:10px;
	background:White;
	display:flex;
	flex-direction:column;
	align-items:center;
	box-shadow:0px 0px 20px 0.5px black;
	color:#3AA17E;
	font-family: 'Stylish', sans-serif;
}
