.site-header{
		color: #ffffff;
		font-family: 'Stylish', sans-serif; 
		display : flex;
		flex-direction: column;
		justify-content: center;
		align-items : center;
		
}

.image-style{
	border-radius: 50%;
	width:150px;
	height: 150px;
	align-self: center;
	box-shadow:0px 10px 11px 1px #000000;
}

body{
	background:  linear-gradient(35deg, #00537E, #3AA17E);
	margin: auto;
}

.site-header-content{
	margin: 10px;
}

.college-link{
		color: #ffffff;		
}
h3
{
	font-family: 'Stylish', sans-serif;
}
